.contact {

}

.contact{
    margin-top: 10px;    
}
.comment {
    float: left;
    width: 100%;
    height: auto;
}

label
{
   display:block;
   margin-bottom: 10px;
   left: 0;
}

.error{
    color: red;
}

i{
    display: block;
}

.invalid{
    color: red;
}


.informations {
    overflow: hidden; 
    margin: 0px;
}


.socialnetworks-contact {
    width: 15%;
   
}

agm-map {
    width: 100%;
    height: 100%;
}