<div class="contact">
    <div class="row align-items-center">
        <div class="form col-12">
            <div class="form col-6 mx-auto">
            <h2 class="title-contact">Contactez-nous!</h2>

            <form class="form-contact form-group" [formGroup]="formContact" (ngSubmit)="submitContact()">

                <div class="form-contact">
                    <label for="firstname">Prénom*</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && firstname.errors }"><br>
                    <div *ngIf="submitted && firstname.errors" class="invalid">
                        <div *ngIf="firstname.errors.required">
                            Le prénom est requis
                        </div>
                    </div>
                </div>

                <div class="form-contact">
                    <label for="lastname">Nom*</label>
                    <input type="text" class="form-control" id="lastname"  name="lastname" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && lastname.errors }"><br>
                    <div *ngIf="submitted && lastname.errors" class="invalid">
                        <div *ngIf="lastname.errors.required">
                            Le nom est requis
                        </div>
                    </div>
                </div>

                <div class="form-contact">
                    <label for="mail">E-mail*</label>
                    <input type="email" class="form-control" id="mail" name="mail" formControlName="mail" [ngClass]="{ 'is-invalid': submitted && mail.errors }"><br>
                    <div *ngIf="submitted && mail.errors" class="invalid">
                        <div *ngIf="mail.errors.required">
                            L'adresse email est requise
                        </div>
                    </div>
                </div>

                <div class="form-contact">
                    <label for="message">Message*</label>
                    <textarea class="form-control" id="message" name="message" formControlName="message" [ngClass]="{ 'is-invalid': submitted && message.errors }">Ajouter votre message ici....</textarea><br>
                    <div *ngIf="submitted && firstname.errors" class="invalid">
                        <div *ngIf="firstname.errors.required">
                            Un message est requis
                        </div>
                    </div>
                </div>

                
                <i>* : Informations obligatoires</i><br>

                <button type="submit" class="btn btn-primary center-block">Submit</button>
            </form>
            <p class="error" *ngIf="error != ''"> {{error}}</p>
            </div>
        </div>
        <div class="row informations">
            <div class="location col-5">
                <h2 class="title-contact">Informations</h2>
                <p class="text-contact">ZA du chemin d'Aix, 505 Avenue de la Maximinoise, 83470 Saint-Maximin-la-Sainte-Baume</p>
                <p class="text-contact"></p>
                <p class="text-contact">Du lundi au samedi 18h09:00-12h30, 14:00-19:00<br>Dimanche fermé</p>
                <p class="text-contact">04 98 05 92 70</p>
            </div>
            <div class="map col-5">                 
                <agm-map [zoom]="13" [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
            <div class="socialnetworks col-2">
                <h2 class="title-contact">Réseaux Sociaux</h2>
                <a href="https://fr-fr.facebook.com/smi.informatique/"><img class="socialnetworks-contact"
                    src="../../assets/img/Facebook.svg"alt="Facebook"></a>
                    <a href="https://www.instagram.com/smi_informatique_stmaximin/?hl=fr"><img class="socialnetworks-contact" src="../../assets/img/Instagram.svg"
                    alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>
