<div class="contact">
    <div class="header-contact"></div>
    <div class="contact-container">
        <form id="formContact" [formGroup]="formContact" (ngSubmit)="submitContact()">
            <h2>Nous contacter</h2>
            <div class="inline-input">
                <div class="form-contact">
                    <label for="lastname">Nom* :</label>
                    <input type="text" id="lastname"  name="lastname" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && lastname.errors }"><br>
                    <div *ngIf="submitted && lastname.errors" class="invalid">
                        <div *ngIf="lastname.errors.required">
                            Le nom est requis
                        </div>
                    </div>
                </div>
                <div class="form-contact">
                    <label for="firstname">Prénom* :</label>
                    <input type="text" id="firstname" name="firstname" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && firstname.errors }"><br>
                    <div *ngIf="submitted && firstname.errors" class="invalid">
                        <div *ngIf="firstname.errors.required">
                            Le prénom est requis
                        </div>
                    </div>
                </div>
            </div>
            <div class="inline-input">
                <div class="form-contact">
                    <label for="firstname">Société (facultatif) :</label>
                    <input type="text" id="society" name="firstname" formControlName="society" [ngClass]="{ 'is-invalid': submitted }"><br>
                </div>

                <div class="form-contact">
                    <label for="mail">Téléphone* :</label>
                    <input type="email" id="mail" name="mail" formControlName="mail" [ngClass]="{ 'is-invalid': submitted && number.errors }"><br>
                    <div *ngIf="submitted && number.errors" class="invalid">
                        <div *ngIf="number.errors.required">
                            Le numéro est requis
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-contact">
                <label for="mail">Adresse mail* :</label>
                <input type="email" id="mail" name="mail" formControlName="mail" [ngClass]="{ 'is-invalid': submitted && mail.errors }"><br>
                <div *ngIf="submitted && mail.errors" class="invalid">
                    <div *ngIf="mail.errors.required">
                        L'adresse email est requise
                    </div>
                </div>
            </div>

           

            <div class="form-contact">
                <label for="message">Écrivez votre message* :</label>
                <textarea id="message" name="message" formControlName="message" [ngClass]="{ 'is-invalid': submitted && message.errors }" rows="5">Ajoutez votre message ici....</textarea><br>
                <div *ngIf="submitted && message.errors" class="invalid">
                    <div *ngIf="message.errors.required">
                        Un message est requis
                    </div>
                </div>
            </div>
            <button type="submit" class="submit-contact"><i class="fas fa-paper-plane"></i><b style="margin-left: 15px">Envoyer</b></button>
        </form>
        <p class="error" *ngIf="error != ''"> {{error}}</p>
    </div>
    <div class="footer-contact">
        <p><b style="font-size: 28px;">Plus d'informations</b><br>Vous souhaitez mieux nous connaitre ? Alors retrouvez-nous sur les réseaux sociaux</p>
    </div>
 </div>  

