/* CONTACT */

.contact p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.header-contact {
    background-image: url(../../assets/img/contact/header-contact.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 250px; 
    width: 100%;
}

.contact-container h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 31px;
    font-weight: 700;
}

.contact-container {
    padding: 70px 300px;
    margin: 0 auto 0 auto;
}

.inline-input{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.form-contact {
    padding: 10px 20px;
    width: 100%;
}

.form-contact input,textarea {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    border: 0;
    width: 100%;
}
.form-contact input {
    height: 40px;
}
.form-contact label {
   display: block;
   float: left;
}

.submit-contact {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 70px;
    border-radius: 20px;
    color: white;
    background-color: #575b98;
    border: 0;
    box-shadow: 7px 7px 7px 1px rgba(99, 99, 99, 0.32);
    -webkit-box-shadow: 7px 7px 7px 1px  rgba(99, 99, 99, 0.32);
    -moz-box-shadow: 7px 7px 7px 1px  rgba(99, 99, 99, 0.32);
}


.footer-contact {
    color: white;
    background-color: brown;
    height: 250px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CONTACT RESPONSIVE */ 


@media screen and (min-width: 1500px)
{
    .contact-container {
        padding: 70px 700px;
        margin: 0 auto 0 auto;
    }
}

@media screen and (max-width: 740px)
{
    .contact-container {
        padding: 70px 0px;
        margin: 0 auto 0 auto;
    }
}



@media screen and (max-width: 1240px)
{
    .contact-container {
        padding: 70px 100px;
        margin: 0 auto 0 auto;
    }
}

@media screen and (max-width: 740px)
{
    .contact-container {
        padding: 70px 0px;
        margin: 0 auto 0 auto;
    }
}


/* A REVOIr */

.error{
    color: red;
}
.invalid{
    color: red;
}


