<div class="about">
    <div class="header-about"></div>
    <div class="about-container">
        <h2 class="title-about-all">A propos de nous</h2>
        <div class="aboutUs">
            <div class="about-grid">
                <div class="col-img-about">
                    <img src="../../assets/img/about/about.jpg"  alt="Image à propose de nous" width="450" height="400"/>
                </div>
                <div class="about-text">
                    <div class="col-text-about">
                        <p>Smi informatique, papeterie et fournitures de bureau, société Varoise, implantée à St Maximin la Ste Baume depuis 2001(qui étend sa zone d’activité à la région entière et même au-delà), fournit à ses clients des services de maintenance informatique, ainsi que du conseil à l’achat du matériel informatique, bureautique et papèterie et fourniture de bureau.</p>
                    </div>
                    <div class="col-text-about">
                        <p>Fort d’une équipe de 7 personnes, notre entreprise a à cœur la satisfaction de sa clientèle en se rendant disponible afin de satisfaire toutes les demandes de nos domaines d’activité. 
                            <br>SMI INFORMATIQUE est membre du réseau national Alliance du Numérique, qui est un réseau national de professionnels à votre service, qui se sont unis en 2018 pour vous apporter plus de compétences, plus de choix, et plus de proximité...
                            </p>
                    </div>
                </div>
            </div> 
        </div>     
    </div>
    <div class="two-container">
        <h2 class="title-about-all">Notre métier</h2>
        <div class="all">
            <div class="all-grid">
                <div class="col-text-all">
                    <p>Notre activité principale consiste à proposer du matériel informatique, principalement en boutique à St Maximin la Ste Baume, des logiciels informatique courants (Microsoft, EBP, logiciels spécialisés DYS, protection anti-virus...), et propose un vaste assortiment de produits et d’accessoires informatique à destination de tous types de clients, allant des particuliers aux entreprises (publiques et privées), en passant par les artisans, commerçants, professions libérales, administrations, institutions, TPE/PME, et même jusqu’aux grands groupes nationaux et internationaux...</p>
                </div>
                <div class="col-text-all">
                    <p>Grâce à notre large réseau de fournisseur au travers de l’Europe, nous sommes en mesure de satisfaire les besoins de nos clients.  Ainsi, SMI Informatique leur permet de choisir parmi plus de 200 constructeurs différents, chacun proposant une large gamme de produits, accessoires, logiciels et fournitures.</p>
                </div>
                <div class="col-text-all">
                    <p>SMI INFORMATIQUE a su, de par son implication, nouer une relation de confiance avec plusieurs constructeurs avec qui nous sommes en relation directe : ACER, spécialiste informatique, en PC portable et fixes, vidéoprojecteur...et BROTHER, fabricant d’imprimantes et d’appareil multifonctions, scanner, et étiqueteuses.</p>
                </div>
            </div> 
        </div>     
    </div>
    <div class="one-container">
        <h2 class="title-about-all">Notre Histoire</h2>
        <div class="all">
            <div class="all-grid">
                <div class="col-text-all">
                    <p>Créé en 2001 au centre de St Maximin la Ste Baume, dans le village, l’activité de l’entreprise nous à amener devoir déménager plusieurs fois afin de répondre aux attentes de nos nombreux clients et permettre de les recevoir dans les meilleurs conditions possible (espace aéré dans le magasin, place de parking à disposition exclusive de la clientèle...).</p>
                </div>
                <div class="col-text-all">
                    <p>Fort d’une équipe de passionnés et qui s’investie pleinement dans son travail, SMI Informatique a su s’imposer dans le tissu économique local comme un spécialiste de l’informatique, avec tes tarifs compétitifs, une disponibilité des collaborateurs et une écoute afin de répondre aux nombreuses demandes et projets qui nous sont soumis...Chaque demande est traitée avec la même implication et le même sérieux.</p>
                </div>
                <div class="col-text-all">
                    <p>Pendant tout ce temps, nous avons construit une relation de confiance avec nos clients particuliers et professionnels, avec avant tout une solide réputation auprès de nos fournisseurs, éditeurs et constructeurs de renoms.</p>
                </div>
            </div> 
        </div>     
    </div>

    <div class="two-container">
        <h2 class="title-about-all">Nos objectifs</h2>
        <div class="all">
            <div class="all-grid">
                <div class="col-text-all">
                    <p>Notre satisfaction passe d'abord par la vôtre ! <br>
                        Chez SMI INFORMATIQUE, la satisfaction client figure parmi nos principales valeurs directrices; c'est notre priorité ! <br>
                        Nous ne sommes pas parfaits, mais nous essayons de l’être au maximum. Il est difficile de contenter plus de 30 000 clients servis tous les ans, mais nous faisons notre maximum pour satisfaire le plus grand nombre !
                    </p>
                </div>
                <div class="col-text-all">
                    <p>Nos clients apprécient particulièrement, outre notre engagement sans compromis pour la qualité des produits proposés, les conseils que nous leur apportons. <br>
                        Nous sommes là pour aider nos clients avant l’achat (conseils), pendant l’achat mais aussi après l’achat (aide à l’installation, paramétrage et mise en place). Notre but est, et a toujours été, d’offrir un service complet avec une expérience d’achat optimale. 
                    </p>
                </div>
                <div class="col-text-all">
                    <p>
                        Nous sommes disponibles pendant nos horaires d’ouverture, de 9hà 12h30 et de 14h à 19h, du lundi au samedi.  Le reste du temps, nous restons joignables par mail (contact@smi83.com) ou sur Messenger pour plus d’interactivité.<br>
                        Nous essayons toujours d’être justes, compétents et serviables, et ce dans toutes les situations.
                    </p>
                </div>
            </div> 
        </div>     
    </div>

    <div class="one-container">
        <h2 class="title-about-all">Notre offre</h2>
        <div class="all">
            <div class="all-grid">
                <div class="col-text-all">
                    <p>Nous proposons à la vente du matériel informatique, des logiciels dans des domaines très variés, destinés à tout type de public (étudiants, particuliers, indépendants, professionnels et entreprises de toutes tailles), des accessoires informatiques, de la téléphonie, ainsi que de la papeterie et du matériel bureautique.</p>
                </div>
                <div class="col-text-all">
                    <p>Notre gamme de produits diversifiée continue de s'étoffer chaque jour, à travers les efforts continus déployés par notre équipe sourcing, afin de vous offrir toujours les dernières innovations en matériel informatique, en accessoires et logiciels, à un prix attractif.</p>
                </div>
            </div> 
        </div>     
    </div>

    <div class="two-container">
        <h2 class="title-about-all">Notre équipe</h2>
        <div class="all">
            <div class="all-grid-center">
                <div class="col-text-all equipe">
                    <p>Forte de plusieurs années d'expérience et d’une excellente connaissance des produits et du marché, l’équipe de SMI INFORMATIQUE s'efforce chaque jour de servir au mieux ses clients. <br>
                        Grâce à notre expertise reconnue et à la polyvalence de notre équipe, nous sommes en mesure de répondre à l’ensemble de vos demandes dans le monde de l’informatique, bureautique et papeterie. <br>
                        Notre équipe agréable et compétente vous accueille 6j/7. <br>
                        Nos collaborateurs seront ravis de pouvoir vous aider.
                    </p>
                </div>
            </div> 
        </div>     
    </div>

    <div class="one-container">
        <div class="all">
            <div class="all-grid-center">
                <div class="col-text-all">
                    <img src="../../assets/img/logoPartenaires.png" class="equipe img">
                </div>
            </div> 
        </div>     
    </div>
 </div>  