/* ABOUT */

/* ABOUT CONTAINER */

.about p{
    text-align: left;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
h2.title-about-history{
    text-align: center;
    margin-bottom: 40px;
    font-size: 31px;
    font-weight: 700;
}
.about-container {
    padding: 70px 0;
}
.aboutUs {
    padding: 0px 60px;
}
.col-img-about img {
    height: auto;
    width: 100%;
}
.about-text {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
}

.about-grid {
    display: grid;
    grid-template-columns: 450px auto;
    justify-items: center;   
    grid-gap: 25px;
    width: 100%;
    align-items: center;
}

/* HISTORY CONTAINER */

.history-container {
    background-color: lightgray;
    padding: 70px 60px;
}
.history-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
}

/* RESPONSIVE */

@media screen and (max-width: 1040px)
{
    .about-grid{
        grid-template-columns: 350px auto;
    }
    .about-text {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 940px)
{
    .about-grid{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 840px)
{
    .aboutUs {
        padding: 10px 15px;
    }
    .history-container {
        padding: 70px 15px;
    }
    .about-text {
        grid-template-columns: 1fr;
    }

    .history-grid {
        display: grid;
        grid-template-columns: auto;
        column-gap: 25px;
    }
}