<div class="about">
    <div class="header-about"></div>
    <div class="about-container">
        <h2 class="title-about-history">A propos de nous</h2>
        <div class="aboutUs">
            <div class="about-grid">
                <div class="col-img-about">
                    <img src="../../assets/img/about/about.jpg"  alt="Image à propose de nous" width="450" height="400"/>
                </div>
                <div class="about-text">
                    <div class="col-text-about">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius repudiandae natus quam sit laudantium harum quod labore aspernatur cum excepturi magnam maxime cumque iure? Veritatis omnis tempore consequuntur perspiciatis!0
                        Deserunt consectetur voluptatem Deserunt consectetur voluptatem Deserunt consectetur voluptatem.</p>
                    </div>
                    <div class="col-text-about">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste architecto, vel ipsam dicta nobis totam voluptatem deserunt corporis reprehenderit fugiat ut, minima, repellendus illo harum quod explicabo voluptas voluptatibus sed.</p>
                    </div>
                </div>
            </div> 
        </div>     
    </div>
    <div class="history-container">
        <h2 class="title-about-history">Notre Histoire</h2>
        <div class="history">
            <div class="history-grid">
                <div class="col-text-history">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius repudiandae natus quam sit laudantium harum quod labore aspernatur cum excepturi magnam maxime cumque iure? Veritatis omnis tempore consequuntur perspiciatis!0
                        Deserunt consectetur voluptatem Deserunt consectetur voluptatem Deserunt consectetur voluptatem.</p>
                </div>
                <div class="col-text-history">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius repudiandae natus quam sit laudantium harum quod labore aspernatur cum excepturi magnam maxime cumque iure? Veritatis omnis tempore consequuntur perspiciatis!0
                    Deserunt consectetur voluptatem Deserunt consectetur voluptatem Deserunt consectetur voluptatem.</p>
                </div>
                <div class="col-text-history">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste architecto, vel ipsam dicta nobis totam voluptatem deserunt corporis reprehenderit fugiat ut, minima, repellendus illo harum quod explicabo voluptas voluptatibus sed.</p>
                </div>
            </div> 
        </div>     
    </div>
 </div>  