<div class="main">
    <div class="header">
        <div class="presentation">
            <h1 class="logo-header"> A propos de nous </h1><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>    
            <a class="more-button" href="../about/about.component.html">En savoir +</a>
        </div>
        <img class="img-header" src="../../assets/img/main/main.jpg" alt="SMI-Informatique">       
    </div>
</div>

