<div class="header">
    <div class="header-left" >
        <a routerLink="/home" class="nom">SMI Informatique</a>
    </div>
    <div class="header-right">
        <a routerLink="/">Home</a>
        <a routerLink="/about">A propos</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/EZConfig">Configuration simple</a>
        <a routerLink="/Config">Configuration avancée</a>
        <a *ngIf="!authService.loggedIn()" routerLink="/registerLogin">Inscription/Connexion</a>
        <a *ngIf="authService.loggedIn()" routerLink="/profil">Profil</a>
        <a *ngIf="authService.isAdmin" routerLink="/profil">Administration</a>
        <a *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Déconnexion</a>
    </div>
</div>
