.box-password{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1E1E1E;
    box-sizing: border-box;
    box-shadow: 0 1em 1.5em black;
    border-radius: 0.7em;
    padding: 2em;
}

.title-password{
    margin-bottom: 1em;
    color: white;
    text-align: center;
}

.form-password{
    margin: 1em;
}

.form-password label{
    text-align: center;
    color: white;
}

.button{
    border-radius: 1em;
    height: 2em;
    font-size: 1em;
    margin: 0.5em auto;
    position: relative;
    width: 100%;
    background-color: lightblue;
    cursor: pointer;
}

.error,.invalid{
    color: red;
}

i{
    color: white;
}
