<div class="card" style="width: 18rem; margin: 2rem;" *ngIf="existUser">
    <div class="card-body">
        <p class="card-text">Nom : {{ dataUser.lastname }}</p>
        <p class="card-text">Prenom : {{ dataUser.firstname }}</p>
        <p class="card-text">Email : {{ dataUser.mail }}</p>
        <p class="card-text">Phone : {{ dataUser.phone }}</p>
        <p class="card-text">Role : {{ dataUser.role }}</p>
    </div>
    <button class="Orange" style="margin-left: 0;" (click)="retour()">Retour</button>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Budget</th>
                <th scope="col">Monté</th>
                <th scope="col">Message</th>
                <th scope="col">Validé</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let config of listConfigs; index as i">
                <td>
                    {{ config.id }}
                </td>
                <td>
                    <a [routerLink]="['/configDetails/', config.id]">
                        {{ config.name }}
                    </a>
                </td>
                <td>{{ config.budget }} €</td>
                <td>{{ config.mounted }}</td>
                <td>
                    {{ config.message }}
                </td>
                <td *ngIf="config.validated">
                    Oui
                </td>
                <td *ngIf="!config.validated">
                    Non
                </td>
                <td>
                    <button class="btn BleuBlanc" type="submit" (click)="onUpdate(config.id)">
                        Modifier</button>
                    <button class="btn Orange" type="button" (click)="onDelete(config.id)">
                        Supprimer
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="Orange" style="margin-left: 0;" (click)="retour()">Retour</button>
</div>