<div *ngIf="formGroup">
    <form [formGroup]="formGroup" (submit)="onSubmit()" class="center">

        <div class="form-group">
            <label for="firstname">Prénom*</label><br>
            <input type="text" name="firstname" id="firstnameRegister" formControlName="firstname">
            <!-- <div *ngIf="submitted && firstname.errors" class="invalid">
            <div *ngIf="firstname.errors.required">
                Le prénom est requis
            </div>
        </div> -->
        </div>

        <div class="form-group">
            <label for="lastname">Nom*</label><br>
            <input type="text" name="lastname" id="lastnameRegister" formControlName="lastname">
            <!-- <div *ngIf="submitted && lastname.errors" class="invalid">
            <div *ngIf="lastname.errors.required">
                Le nom est requis
            </div>
        </div> -->
        </div>

        <div class="form-group">
            <label for="mail">E-mail*</label><br>
            <input type="email" name="mail" id="mailRegister" formControlName="mail">
            <!-- <div *ngIf="submitted && mail.errors" class="invalid">
            <div *ngIf="mail.errors.required">
                Le mail est requis
            </div>
            <div *ngIf="mail.errors.email">
                Le format du mail est invalide
            </div>
        </div> -->
        </div>

        <div *ngIf="idUser == null" class="form-group">
            <label for="password">Mot de passe*</label><br>
            <input type="password" name="password" id="passwordRegister" formControlName="password">
            <!-- <div *ngIf="submitted && password.errors" class="invalid">
                <div *ngIf="password.errors.required">
                    Le mot de passe est requis
                </div>
                <div *ngIf="password.errors.minlength">
                    Le mot de passe doit contenir au minimum 8 caractères
                </div>
            </div> -->
        </div>

        <div class="form-group">
            <label for="phone">Numéro de téléphone*</label><br>
            <input type="tel" name="phone" id="phoneRegister" formControlName="phone">
            <!-- <div *ngIf="submitted && phone.errors" class="invalid"> -->
            <!-- <div *ngIf="phone.errors.required">
                Le numéro de téléphone est requis
            </div> 
            </div> -->
        </div>

        <div class="form-group">
            <label for="role">Role</label><br>
            <select name="role" id="role" formControlName="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <i>* : Informations obligatoires</i><br><br>
        <button *ngIf="idUser == null" type="submit" class="btn BleuBlanc">Créer</button>
        <button *ngIf="idUser != null" type="submit" class="btn BleuBlanc">Mettre à jour</button>
    </form>
</div>
<button class="Orange" style="margin-left: 0;" (click)="retour()">Retour</button>
<!-- <p class="error" *ngIf="error != ''"> {{error}}</p> -->