.center{
    margin: 10px 10px;
    padding: 10px;  
    text-align: center;
}

button{
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    border-radius: 0.6em;
    color: white;
}

.BleuBlanc{
    background-color: #575b98;
    border: 1px solid #575b98;
    margin-right: 1.5em;
}