.center{
    margin: 10px 10px;
    padding: 10px;  
    text-align: center;
}

button{
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    border-radius: 0.6em;
    color: white;
}

.BleuBlanc{
    background-color: #575b98;
    border: 1px solid #575b98;
    margin-right: 0.5em;
}

.Orange{
    border: 1px solid #ee7412;
    background-color: #ee7412;
    margin-left: 0.5em;
}

a{
    color:#575b98;
}