<div class="newsletter">
    <div class="header-newsletter"></div>
    <div class="newsletter-container">
        <form id="formNewsletter" [formGroup]="formNewsletter" (ngSubmit)="submitNewsletter()">
            <h2>Prêt à vous tenir informé des nos nouveautés</h2>
            <p>Vous pouvez alors souscrire à notre newsletter en nous indiquant votre adresse mail</p>
            <div class="form-newsletter">
                <input type="email" id="email"  name="email" formControlName="email" >
                <div *ngIf="formNewsletter.controls['email'].invalid && (formNewsletter.controls['email'].touched)" class="invalid">
                    <div *ngIf="formNewsletter.controls['email'].errors.required">
                        L'adresse mail est requise
                    </div>
                </div>
            </div>      
            <button type="submit" class="submit-newsletter"><b>Souscrire</b></button>      
        </form>
    </div>
 </div>  