<div class="main">
    <div class="header">
        <div class="presentation">
            <img src="../../assets/img/main/SMI-RVB-BLEU.png" alt="SMI-Informatique">       
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>    
            <a class="more-button" href="../about/about.component.html">En savoir +</a>
        </div>
    </div>
    <div class="configuration">
        <div class="div-configurations">
            <a class="button-configurations" href="../ezconfig/ezconfig.component.html">
                <div class="img img-simple"></div>
                <div class="text">
                    <p><b style="color: #575b98;">Configuration simple</b><br><div class="line"></div><br>Répondez à une série de questions afin que nous puissions vous guider au mieux en fonction de vos besoins</p>    
                </div>
            </a>
        </div>
        <div class="div-configurations">
            <a class="button-configurations" href="../config/config.component.html">
                <div class="img img-advanced"></div>
                <div class="text">
                    <p><b style="color: #575b98;">Configuration avancée</b><br><div class="line"></div><br>Remplissez précisément les formulaires et choisissez les critères de vos composants sur-mesure.</p>    
                </div>
            </a>
        </div>
    </div>
</div>

