<div class="main">
    <div class="header">
        <div class="presentation">
            <img src="../../assets/img/main/SMI-RVB-BLEU.png" alt="SMI-Informatique">       
            <p>
                Smi informatique, papeterie et fournitures de bureau, société Varoise, implantée à St Maximin la Ste Baume depuis 2001(qui étend sa zone d’activité à la région entière et même au-delà), fournit à ses clients des services de maintenance informatique, ainsi que du conseil à l’achat du matériel informatique, bureautique et papèterie et fourniture de bureau.
            </p>    
            <a class="more-button" routerLink="about">En savoir +</a>
        </div>
    </div>
    <div class="configuration">
        <div class="div-configurations">
            <a class="button-configurations" routerLink="/EZConfig">
                <div class="img img-simple"></div>
                <div class="text">
                    <p><b style="color: #575b98;">Configuration simple</b><br><div class="line"></div><br>Répondez à une série de questions afin que nous puissions vous guider au mieux en fonction de vos besoins</p>    
                </div>
            </a>
        </div>
        <div class="div-configurations">
            <a class="button-configurations" routerLink="/Config">
                <div class="img img-advanced"></div>
                <div class="text">
                    <p><b style="color: #575b98;">Configuration avancée</b><br><div class="line"></div><br>Remplissez précisément les formulaires et choisissez les critères de vos composants sur-mesure.</p>    
                </div>
            </a>
        </div>
    </div>
</div>

