<p>main works!</p>
<div class="main">
    <div class="header">
        <div>
            <img class="img-configurations" src="/media/cc0-images/grapefruit-slice-332-332.jpg" alt="SMI-Informatique">      
            <div>
                <img class="img-header" src="/media/cc0-images/grapefruit-slice-332-332.jpg" alt="SMI-Informatique logo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>    
                <a class="more-button" href="../about/about.component.html">En savoir +</a>
            </div>
        </div>
        <a routerLink="/home" class="nom">SMI Informatique</a>
    </div>
    <div class="configuration">
            <div class="div-configurations">
                <a class="button-configurations" href="../ezconfig/ezconfig.component.html">
                <img class="img-configurations" src="/media/cc0-images/grapefruit-slice-332-332.jpg" alt="Configuration Simple">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>    
                </a>
            </div>
            <div class="div-configurations">
                <a cclass="button-configurations" href="../config/config.component.html">
                <img class="img-configurations" src="/media/cc0-images/grapefruit-slice-332-332.jpg" alt="Configuration avancée">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>    
                </a>
            </div>
    </div>
</div>

